body {
  background-color: #f3e5f5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ffffff;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #6a1b9a;
  box-shadow: 0 4px 10px rgba(106, 27, 154, 0.2);
  margin: 60px auto;
  text-align: center;
}

.container h2 {
  color: #6a1b9a;
  margin-bottom: 20px;
}

.stuData {
  width: 90%;
  height: 35px;
  margin: 8px 0;
  padding: 5px 10px;
  border: 1px solid #ce93d8;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.stuData:focus {
  border-color: #ab47bc;
  outline: none;
  box-shadow: 0 0 6px rgba(171, 71, 188, 0.4);
}

.submitBtn {
  margin-top: 15px;
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #6a1b9a;
  color: #fbc02d;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submitBtn:hover {
  background-color: #8e24aa;
  color: #fff3e0;
  box-shadow: 0 4px 8px rgba(142, 36, 170, 0.4);
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px 60px;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  width: 250px;
  border-radius: 10px;
  border: 1.5px solid #ce93d8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(106, 27, 154, 0.2);
}

.card h3 {
  color: #6a1b9a;
  margin: 5px 0;
}

.card p {
  font-size: 14px;
  color: #333;
  margin: 3px 0;
}

.card button {
  margin-top: 8px;
  background-color: #fbc02d;
  color: #4a148c;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #fdd835;
  color: #311b92;
  box-shadow: 0 3px 6px rgba(251, 192, 45, 0.3);
}
